.root {
  flex: 1;
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
}

.root Button {
  margin: 10px;
}

.modalForm {
  flex: 1;
  display: flex; 
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.modalForm .input {
  flex: 1;
  display: flex;
  margin: 10px;
}

.modalForm .number {
  margin: 10px;
  width: 25%;
}

.table {
  width: 100%;
}

.alerDialog {
  flex: 1;
  display: flex; 
  width: 100%;
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 5px;
}
